.chat {
    width: 60%;
    height: 100%;
    margin: 0;

    background-color: rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    font-family: Arial, Helvetica, sans-serif;
}

.chatBox {
    width: 95%;
    height: 85%;
    margin-top: 20px;

    overflow-y: auto;
}

.message {
    background-color: rgba(0, 0, 0, 0.15);
    height: 60px;

    margin-bottom: 10px;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

.message:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.message > div {
    color: white;
}



.content > p {
    margin: 0;
}

.trash {
    margin-left: auto;
    margin-right: 20px;
    padding: 3px;

    display: none;
    border-radius: 50%;
}

.trash:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.message:hover .trash {
    display: block;
}

.pic {
    background-color: rgb(98, 62, 62);
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 10px;
}

.messageInfo {
    padding-bottom: 5px;
    color: rgb(184, 182, 182);
}

.inputs {
    display: flex;

    width: 95%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);

    border-radius: 10px;
}

.inputs > input {
    width: 90%;
    font-size: 18px;

    background: none;
    border: none;
    outline: none;

    color: white;
}

.inputs > input::placeholder {
    color: rgb(187, 187, 187);
}
