.details {
    position: relative;

    margin: 0;
    height: 100%;
    width: 250px;

    background-color: #305483;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #ab8af0;
}

.details > img {
    width: 220px;
    aspect-ratio: 1/1;

    border-radius: 15px;
}

.details h1 {
    width: 200px;
    text-align: center;
    border-bottom: 2px solid #ad92e3;
    padding-bottom: 15px;
}

.controls {
    margin-top: auto;
    align-self: center;
    margin-bottom: 5px;

    width: 90%;

    display: flex;
    gap: 5px;
}

.leave, .copy {
    width: 25px;
    aspect-ratio: 1/1;
    padding: 5px;

    border: 2px solid #977ad4;
    border-radius: 10px;

    transition: 0.2s;
}

.leave:hover, .copy:hover {
    cursor: pointer;
    background-color: #ded2f6;
}

.leaveTooltip {
    position: absolute;
    bottom: 50px;
    left: 5px;

    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    padding: 3px;

    border-radius: 5px;
    border: 1px solid #977ad4;

    display: none;
}

.leave:hover ~ .leaveTooltip {
    display: block;
}

.copyTooltip {
    position: absolute;
    bottom: 50px;
    left: 50px;

    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    padding: 3px;

    border-radius: 5px;
    border: 1px solid #977ad4;

    display: none;
}

.copy:hover ~ .copyTooltip {
    display: block;
}

.delete {
    width: 25px;
    aspect-ratio: 1/1;
    padding: 5px;

    border: 2px solid #FF0055;
    border-radius: 10px;

    transition: 0.2s;
}

.delete:hover {
    cursor: pointer;
    background-color: #ec8dad;
}

.deleteToolTip {
    position: absolute;
    bottom: 50px;
    left: 5px;

    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    padding: 3px;

    border-radius: 5px;
    border: 1px solid #FF0055;
    color: #FF0055;

    display: none;
}

.delete:hover ~ .deleteToolTip{
    display: block;
}