body {
    background-image: linear-gradient(100deg,  #4489d2, #7d53b5);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    display: flex;
}